# tuples

In [5]:
abc=(1,2,3,34)

In [6]:
abc

(1, 2, 3, 34)

In [7]:
print(abc)
type(abc)

(1, 2, 3, 34)

tuple

In [8]:
t=(20,30,"mytext")
t
type(t)

tuple

In [9]:
t
print(t)

(20, 30, 'mytext')

In [10]:
t

(20, 30, 'mytext')

# lists

In [11]:
list1=[1,2,3,"hi"]
type(list1)
print(list1)

[1, 2, 3, 'hi']

In [12]:
type(list1)

list

In [13]:
list1

[1, 2, 3, 'hi']

In [14]:
type(list1)
list1

[1, 2, 3, 'hi']

In [15]:
a=[1,2,23,234]

In [16]:
print(a)
type(a)

[1, 2, 23, 234]

list

In [17]:
print(type(a))

<class 'list'>

# sets

In [18]:
b={1,2,3,4,5,6}
print(b)
type(b)

{1, 2, 3, 4, 5, 6}

set

In [19]:
b

{1, 2, 3, 4, 5, 6}

In [20]:
c={1,2,3,"hi"}
print(c)
type(c)

{1, 2, 3, 'hi'}

set

# dictionaries

In [22]:
d={"name":"Shyamasundara N","phone":7411}
type(d)

dict

In [23]:
print(d)
print(type(d))

{'name': 'Shyamasundara N', 'phone': 7411}
<class 'dict'>

In [31]:
print(d.values())

dict_values(['Shyamasundara N', 7411])

In [32]:
print ("Dict key-value are : ") 
for key, value in d.items(): 
    print (key, value)

Dict key-value are :
name Shyamasundara N
phone 7411

In [35]:
for key,value in d.items():
    print(str(key) + ":" + str(value))

name:Shyamasundara N
phone:7411

In [36]:
type(d)

dict